fastapi==0.115.0
uvicorn[standard]==0.32.0
pymongo==4.8.0
pydantic==2.10.1
python-dotenv==1.0.1
pyjwt==2.9.0
requests==2.32.3
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
